<h1 mat-dialog-title *ngIf="data.options.update && !readonly; else newone">Actualizar responsable "{{data.temporal.name}}"</h1>
<ng-template #newone>
    <h1 mat-dialog-title *ngIf="!readonly; else detail">Nuevo responsable</h1>
</ng-template>
<ng-template #detail>
    <h1 mat-dialog-title>Detalles del responsable: "{{data.entity.name}}"</h1>
</ng-template>
<div mat-dialog-content>
    <form role="form" #userForm="ngForm">
        <p class="small-text">Información General</p>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-default required" pgFormGroupDefault>
                    <label>Nombre del responsable</label>
                    <input type="text" class="form-control" [(ngModel)]="data.entity.name" name="name" id="name" placeholder="Ingrese el nombre del responsable" #name="ngModel" required [disabled]="readonly">
                </div>
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <label class="error">Este campo es requerido.</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-default required" pgFormGroupDefault>
                    <label>Licencia del responsable</label>
                    <input type="text" class="form-control" [(ngModel)]="data.entity.license_number" name="license_number" id="license_number" placeholder="Ingrese el Numro de licencia del responsable" #license_number="ngModel" required [disabled]="readonly">
                </div>
                <div *ngIf="license_number.invalid && (license_number.dirty || license_number.touched)">
                    <label class="error">Este campo es requerido.</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-default required" pgFormGroupDefault>
                    <label>Teléfono del responsable</label>
                    <input type="text" class="form-control" [(ngModel)]="data.entity.phone" name="phone" id="phone" placeholder="Ingrese el Telefono del responsable" #phone="ngModel" required [disabled]="readonly">
                </div>
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                    <label class="error">Este campo es requerido.</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-default required" pgFormGroupDefault>
                    <label>Direccion del responsable</label>
                    <input type="text" class="form-control" [(ngModel)]="data.entity.address" name="address" id="address" placeholder="Ingrese la Direccion del responsable" #address="ngModel" required [disabled]="readonly">
                </div>
                <div *ngIf="address.invalid && (address.dirty || address.touched)">
                    <label class="error">Este campo es requerido.</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-default required" pgFormGroupDefault>
                    <label>Foto del responsable</label>
                    <input type="text" class="form-control" [(ngModel)]="data.entity.photo" name="photo" id="photo" placeholder="Ingrese la foto del cliente" #photo="ngModel" required [disabled]="readonly">
                </div>
                <div *ngIf="photo.invalid && (photo.dirty || photo.touched)">
                    <label class="error">Este campo es requerido.</label>
                </div>
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align="center">
    <button aria-label="" type="button" class="btn btn-cons btn-animated from-top btn-lg font-medium px-3 py-2 border rounded-md" cdkFocusInitial (click)="onCancel(!readonly)">
        <span>{{ readonly ? 'Volver' : 'Cancelar' }}</span>
        <span class="hidden-block">
            <i class="pg-icon">{{ readonly ? 'undo' : 'close' }}</i>
        </span>
    </button>
    <button aria-label="" [hidden]="readonly" [disabled]="userForm.invalid" type="button" class="btn btn-primary btn-cons btn-animated from-top btn-lg font-medium px-3 py-2 border rounded-md" [mat-dialog-close]="data.entity"         [style.background-color]="data.configuration.primary_color"
                        [style.border-color]="data.configuration.primary_color"
                        (mouseover)="data.configuration.primary_color = data.configuration.calculate_hover_primary_color()"
                        (mouseleave)="data.configuration.primary_color = data.configuration.primary_color_back">
        <span>Aceptar</span>
        <span class="hidden-block">
            <i class="pg-icon">save</i>
        </span>
    </button>
</mat-dialog-actions>