.f-family-weight {
   font-family: 'Montserrat';
   font-weight: bold;
}

.f-subject-label,.f-teacher-label  {
   font-size: 40px;
}

.f-subject-value {
   font-size: 42px;
}

.f-teacher-value {
   font-size: 23px;
}

.shadow {
   filter: drop-shadow(0px 0px 3px #484959);
}

.size-subject {
   width: 120px;
   height: auto;
}